/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 200ms ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(13px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-13px);
}
